<footer>
<div class="f-info">
    <div class="f-info-socials">
      
      <a href="https://www.facebook.com/profile.php?id=100011593007270"> 
        <i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/anshullaad_35/?hl=en">
        <i class="fa-brands fa-square-instagram"></i></a>
       <a href="https://www.linkedin.com/in/anshul-laad-96a9b1291"> 
        <i class="fa-brands fa-linkedin"></i></a>


    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
    
    <div class="f-info-links">
<a href="/privacy">privacy</a>
<a href="/terms">Terms</a>
</div>

</div>


</footer>